
{% extends 'base.html' %}
{% block 'title' %}IGS-Software Manager{% endblock %}
{% block 'content' %}
    <!-- Begin page content -->
    <main class="main">
        <div class="container">

            <h1 class="mt-5">Welcome to IGS-Software Manager</h1>
            <p class="lead">The IGS team is growing every month and here we have an application to 
                manage employee information, such as name, e-mail, and department.Was written an API to allow integrations.</p>
            
            
        </div>
    </main>
{% endblock %}
